<% errors.forEach(function(message) {%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert"><%= message %></div>
    <% }) %>

    <% success.forEach(function(message) {%>
        <div class="alert alert-success alert-dismissible fade show" role="alert"><%= message %></div>
    <% }) %>